.font-size-lg {
    font-size: 24px;
}

.bg-gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, #00c6ff 0%, #0072ff 100%);
    background: linear-gradient(180deg, #00c6ff 0%, #E55D87 100%);
}